In [1]:
import pandas as pd
import numpy as np

In [2]:
#bloomberg sample data for 5 currencies 
df = pd.read_excel('Bloomberg Data.xlsx')
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.set_index('Date', inplace=True)
df = df.sort_index()
df.head()

,SGD,KWN,KRW,TWD,NTN,IRN,INR,PPN,PHP,IHN,...,GBP,AUDJPY,AUDNZD,EURAUD,EURGBP,CAD,CHF,EURCHF,AUDCAD,TWDKRW
Date,,,,,,,,,,,,,,,,,,,,,
2018-03-28,1.3120,1063.50,1070.70,29.156,29.064,65.34,65.1775,52.50,52.17,13778,...,1.4077,81.854,1.0623,1.60656,0.87437,1.2923,0.9567,1.17756,0.9900,36.517
2018-03-29,1.3111,1062.50,1065.95,29.161,29.017,65.31,65.1775,52.42,52.17,13755,...,1.4018,81.708,1.0614,1.60211,0.87740,1.2884,0.9564,1.17641,0.9891,36.509
2018-03-30,1.3115,1060.72,1063.55,29.116,28.991,65.28,65.1775,52.38,52.17,13759,...,1.4015,81.614,1.0614,1.60370,0.87909,1.2900,0.9540,1.17536,0.9914,36.611
2018-04-02,1.3124,1056.10,1056.60,29.139,29.034,65.41,65.1775,52.28,52.01,13782,...,1.4044,81.138,1.0623,1.60535,0.87593,1.2913,0.9551,1.17477,0.9895,36.275
2018-04-03,1.3116,1053.25,1054.60,29.145,29.030,65.11,65.0112,52.12,52.03,13768,...,1.4057,81.926,1.0590,1.59666,0.87283,1.2807,0.9589,1.17659,0.9843,36.201

In [3]:
def trans_preprocessing(trader_data):
    #handle direction and notional of trade 
    #Size is a new column with the direction of trade
    # long: positive; short: negative
    trader_data['Size'] = trader_data.Direction.apply(
               lambda x: (1 if x == 'long' else -1))
    trader_data['Size'] = trader_data['Size'] * trader_data['Size/Notional']
    trader_data['Timestamp'] = pd.to_datetime(trader_data['Timestamp'],dayfirst=True)

In [5]:
transaction = pd.read_csv('transaction.csv')
trans_preprocessing(transaction)
transaction

,Portfolio,Type of Trade,Product,Direction,Price,Size/Notional,Tenor,Amount to Risk,Time Frame,Strategy,Timestamp,User,Size
0,A2,Outright,TWD,long,30.9800,6,NaN,50000,NaN,Strategy,2019-08-28,A,6
1,A2,Outright,TWD,long,31.0100,5,NaN,50000,NaN,Strategy,2019-08-29,A,5
2,A2,Outright,TWD,long,30.4300,10,NaN,50000,NaN,Strategy,2019-08-30,A,10
3,A2,Outright,NTN,long,30.4500,12,NaN,50000,NaN,Strategy,2019-08-30,A,12
4,A2,Outright,TWD,short,30.2300,7,NaN,50000,NaN,Strategy,2019-09-02,A,-7
5,A2,Outright,NTN,short,31.2000,2,NaN,50000,NaN,Strategy,2019-09-02,A,-2
6,A2,Outright,NTN,short,31.4500,3,NaN,50000,NaN,Strategy,2019-09-03,A,-3
7,A1,Outright,IRN,long,70.0000,15,NaN,50000,NaN,Strategy,2019-09-04,A,15
8,A1,Outright,IRN,long,69.3200,10,NaN,50000,NaN,Strategy,2019-09-05,A,10
9,A1,Outright,KWN,long,1178.5600,10,NaN,50000,NaN,Strategy,2019-09-09,A,10
10,A1,Outright,IRN,short,69.8900,10,NaN,50000,NaN,Strategy,2019-09-09,A,-10
11,A1,Outright,KWN,long,1181.7200,15,NaN,50000,NaN,Strategy,2019-09-10,A,15
12,A1,Outright,KWN,short,1180.4500,5,NaN,50000,NaN,Strategy,2019-09-13,A,-5
13,B2,Outright,SGD,long,1.3623,10,NaN,50000,NaN,Strategy,2019-08-28,B,10
14,B2,Outright,SGD,long,1.3808,15,NaN,50000,NaN,Strategy,2019-08-29,B,15
15,B2,Outright,SGD,short,1.3842,10,NaN,50000,NaN,Strategy,2019-08-30,B,-10
16,B2,Outright,INR,long,71.1475,20,NaN,50000,NaN,Strategy,2019-08-30,B,20
17,B2,Outright,INR,short,71.1687,15,NaN,50000,NaN,Strategy,2019-09-02,B,-15
18,B2,Outright,INR,short,71.0225,5,NaN,50000,NaN,Strategy,2019-09-02,B,-5
19,B2,Outright,INR,long,71.0700,10,NaN,50000,NaN,Strategy,2019-09-03,B,10
20,B1,Outright,IRN,long,70.9800,15,NaN,50000,NaN,Strategy,2019-09-04,B,15
21,B1,Outright,IRN,long,69.3200,10,NaN,50000,NaN,Strategy,2019-09-05,B,10
22,B1,Outright,KWN,long,1178.5600,10,NaN,50000,NaN,Strategy,2019-09-09,B,10
23,B1,Outright,IRN,short,69.8900,10,NaN,50000,NaN,Strategy,2019-09-09,B,-10
24,B1,Outright,KWN,long,1181.7200,15,NaN,50000,NaN,Strategy,2019-09-10,B,15
25,B1,Outright,KWN,short,1180.4500,5,NaN,50000,NaN,Strategy,2019-09-13,B,-5
26,B1,Outright,KWN,short,1181.7200,5,NaN,50000,NaN,Strategy,2019-09-10,B,-5
27,B1,Outright,IRN,short,71.2700,5,NaN,50000,NaN,Strategy,2019-09-11,B,-5

In [6]:
from datetime import datetime
get_datetime = lambda s: datetime.strptime(s, "%d/%m/%Y")

#find the nearest date after a given date
def nearest(ls,base):
    base = get_datetime(base)
    later = filter(lambda d: d >= base, ls)
    try:
        return min(later)
    except ValueError:
        return None 
    #closest_date = min(later)
    #return closest_date

In [7]:
def pnl_product(start,end,trader_df,portfolio,currency,df):
    #start is the nearest date after the given starting date when there is a trade (dd/mm/yy)
    # start will be taken as the starting point 
    #all previous trade will be ignored

    
    #input example: '1/9/2019', '10/9/2019', A1_KWN, bloomberg_df
    #input dates are inclusive
    
    product = trader_df.groupby('Portfolio').get_group(portfolio).groupby('Product').get_group(currency)
    
    start = nearest(product.Timestamp,start)
    end = pd.to_datetime(end,dayfirst=True)
    
    
    
    try:
        product = product[(product['Timestamp'] >= start) & (product['Timestamp'] <= end)]
    except TypeError:
        print('There is no trade for ' + currency + ' within the given time range.')
        return None
        
    #only filter those trades within the selected time range for both transaction and bloomberg datasets
    product = product[(product['Timestamp'] >= start) & (product['Timestamp'] <= end)]
    df = df[(df.index >= start) & (df.index <= end)]
    df = df.sort_index()
    
    
    result = pd.DataFrame()
    result['Date'] = df.index
    result.set_index('Date', inplace=True)
    result['PnL'] = np.nan
    
    profit = 0 
    close_price = 0
    old_entry_price = 0
    new_entry_price = 0
    size = 0 #sum of size of products for previous days 
    new_trade_size = 0
    
    #for everyday
    for j in df.index:
        #print(j)
        
        #for all trades on that day
        temp = product[product['Timestamp']==j]
        
        if not temp.empty:
        #if there is trade
            #print('yes')
            
            for i in range(temp.shape[0]):
                close_price = df.ix[temp.iloc[i,10]][currency]
                #print('the close price is ' + str(close_price))
                new_entry_price = temp.iloc[i,4]
                #print('the new entry price is ' + str(new_entry_price))
                new_size = temp.iloc[i,12]
                #print('the new size is ' + str(new_size))
                profit = profit + (close_price - new_entry_price) * new_size + (close_price - old_entry_price)* size
                old_entry_price = close_price
                #print('old entry price assignment done')
                size = size + new_size
                #print('size assignment done')
            
            result.at[j, 'PnL'] = profit
            profit = 0
            
        else: 
            #print('No')
            close_price = df.ix[j][currency]
            #print("close price on this no-trade day is " + str(close_price))
            profit = (close_price - old_entry_price)*size
            result.at[j, 'PnL'] = profit
            
    
    return result

In [8]:
def pnl_portfolio(start,end,trader_df,portfolio,df):
    products = trader_df.groupby('Portfolio').get_group(portfolio)['Product'].unique()
    
    for i in range(len(products)):
        currency = products[i]
        if i == 0:
            result = pnl_product(start,end,trader_df,portfolio,currency,df)
        else:
            temp = pnl_product(start,end,trader_df,portfolio,currency,df)
            try:
                result = pd.concat([result, temp]).groupby('Date', as_index=True).sum()
            except ValueError:
                return None
    return result

In [9]:
def pnl_trader(start,end,trader_df,df):
    portfolios = trader_df['Portfolio'].unique()
    
    for i in range(len(portfolios)):
        portfolio = portfolios[i]
        if i == 0:
            result = pnl_portfolio(start,end,trader_df,portfolio,df)
        else:
            temp = pnl_portfolio(start,end,trader_df,portfolio,df)
            try:
                result = pd.concat([result, temp]).groupby('Date', as_index=True).sum()
            except ValueError:
                return None
    return result

In [14]:
def pnl_team(start,end,team_df,df):
    traders = team_df['User'].unique()
    
    for i in range(len(traders)):
        trader = traders[i]
        if i ==0:
            trader_df = team_df.groupby('User').get_group(trader)
            result = pnl_trader(start,end,trader_df,df)
        else:
            temp = pnl_trader(start,end,trader_df,df)
            try:
                result = pd.concat([result, temp]).groupby('Date', as_index=True).sum()
            except ValueError:
                return None
        return result

In [16]:
pnl_team('8/9/2019','15/9/2019',transaction,df)

There is no trade for TWD within the given time range.
There is no trade for NTN within the given time range.

/Users/matianran/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:53: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
/Users/matianran/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:70: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

               PnL
Date
2019-09-09  110.70
2019-09-10  117.65
2019-09-11  -18.70
2019-09-12 -211.55
2019-09-13 -498.85

In [ ]:
def num_trades